{% extends "base.html" %} {% block title %}SALES{% endblock %} 

{% block content %}

  <h1 align="center">San Andreas Law Enforcement System</h1>
  <h2 align="center">User & Database Disclaimer</h2>
      <div class="disclaimer-container">
        <p class="person-disclaimer">
          <p> 

              All information contained in the San Andreas Law Enforcement Database (SALES) is fictional and should not
              be interepreted as real life criminal or traffic data. Any similiarities between the data contained in SALES and data in real life is purely coincidental and is not
              maintained for purpose. SALES is designed, created, built, monitored, and maintained by a one-person team. Issues or suggestions with the system
              will be addressed when possible, however there may be significant delays in requests.

              Information returned by the system may not accurately represent the information displayed in each player's game. 
              FivePD randomly generates information based on callout data or other data present in the mod-pack. This database does not
              use (as of August 2023) the FivePD API and therefore cannot connect or call from the FivePD game. This means that a player
              can run a license plate (123ABC) that SALES returns as a sedan, however FivePD displays it as an SUV. Similar discrepancies
              may occure when running license information. Use the information contained here-in to increase immersion where possible. 
              
          </p>
    
    </div>
  </div>

  {% endblock %}
