{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">San Andreas Law Enforcement System</h1>


  <div class="float-container">

    <div class="float-child">
      <div class="information">

        <h3>Welcome to SALES.</h3>
          SALES is intended to be used in place of the default FivePD CAD. The FivePD CAD/MDT has always felt incomplete. If an officer conducts a
          stop and writes a citation, that citation is not recorded by FivePD, nor is any criminal history generated. SALES aims to remedy that.
          <br><br>
          During the initial launch of SALES, information available will be minimal. However, as people play FivePD and upload information, 
          this information will be maintained in a database and will allow users to pull information from across servers. 
          <br><br>
          For example, if Officer A in Server A conducts a traffic stop on an NPC named John Smith, when Officer A initially queries for records
          involving John Smith, Officer A will return negative results. Officer A can then input information into SALES documenting the stop,
          any citations, arrests, or other information. This information is then recorded by SALES. Later, Officer B on Server B also conducts a stop
          on John Smith. This time Officer B will see information previously recorded by Officer A. 
          <br><br>
          When using SALES, please take this into consideration. The information being entered will be used by other players within the FivePD
          community. Also take into account that the information may not be 100% accurate to what is being displayed in game. SALES uses data 
          provided by players, not by GTA or FivePD. 

      </div>
    </div>
    
    <div class="float-child">
      <div class="updates">
        <h3>News</h3>
        <ul>
          <li>July 9, 2023 - SALES begins production.</li>
          <li>Person Search is intended to be active first. During production stages, information will be added periodically.</li>
          </ul>

          <h3>Updates</h3>
          <ul>
            <li>Main page format updated.</li>
        </ul>
      </div>
    </div>
    
  </div>

  {% endblock %}
