{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content %}

<!-------------------------------------------------------------------------------------------------------->

  <div class="searchcontainer">
    <form id="person" method="post">
      <h3 align="center">SALES Person Search</h3>
 
      <!-- First Name Form -->
      <div class = "person-group">
        <label for="firstName">First Name</label>
        <input 
          type="text" 
          class="form-control" 
          id="firstName" 
          name="firstName" 
          placeholder="Subject First Name">
        </input>
      </div>
  <br>
      <div class = "person-group">
        <label for="lastName">Last Name</label>
        <input 
          type="text" 
          class="form-control" 
          id="lastName" 
          name="lastName" 
          placeholder="Subject Last Name">
        </input>
      </div>
  <br>
      <div class = "person-group">
        <label for="dob">Date of Birth</label>
        <input 
          type="text" 
          class="form-control" 
          id="dob" 
          name="dob" 
          placeholder="Date of Birth">
       </input>
      </div>
      <br>
    <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#personmodal">Run Search</button>
    </form>
<!-------------------------------------------------------------------------------------------------------->
    <br>

    <h3 align="center">SALES Vehicle Plate Search</h3>
   
    <div class = "vehicle-group">
      <form method="post">
        <label for="vehiclePlate">Vehicle Plate</label>
        <input 
          type="text" 
          class="form-control" 
          id="vehiclePlate" 
          name="vehiclePlate" 
          placeholder="Vehicle Plate">
        </input>
      </form>
    </div>

<br>

    <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#vehiclemodal">Run Search</button>

  </div>

  <div class="resultscontainer">
    <p>
    <h3 align="center">Search Results</h3>

    {% for results in results %}

    Name: {{results.firstName}} {{results.lastName}} <br>
    DOB: {{results.dob}}<br>
    Driver's License: {{results.drivers}}<br>
    Fishing License: {{results.fishing}}<br>
    Hunting License: {{results.hunting}}<br>
    Firearm License: {{results.gun}}<br><br>

    Warrants: Coming Soon. <br>
    Criminal History: Coming Soon. 
    {% endfor %}
    
   </p>

  </div>


  <div class="disclaimer-container">
    <h4>Information</h4>
    <p class="person-disclaimer">
      <p> Results returned from the databases pursuant to database queries may not accurately represent events
        taking place in the game. GTA randomly generates names, dates, license plates, and vehicles as needed throughout gameplay. 
        This means the results found here in the database are a result of another player entering what they encountered into the system. <br><br>
        SALES Staff understands this may break immersion in some cases. It is recommended to use the information provided by the database to the
        level capable during your gameplay. 
      </p>

      <h4>Adding Information</h4>
      <p>
        Did your query return no results? Ensure entry is double-checked to verify accuracy. If the information is correct and there are no results,
        add the information to the database by using the button below. Similar to GTA, some information will be randomly generated to create history, 
        licenses, and warrants. 
      </p>

      <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addvehiclemodal">Add Vehicle Information</button>
      <button type="submit" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addpedmodal">Add Ped Information</button>

  </div>

  <div class="modal fade" id="addvehiclemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Vehicle Information to SALES</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

            <div class="modal-body">
              <form method="post">

                <div class = "vehicle-group">
                <label for="vehiclePlate">Vehicle Plate</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="vehiclePlate" 
                  name="vehiclePlate" 
                  placeholder="Vehicle Plate">
                  </input>
                </div>

                <div class = "vehicle-group">
                <label for="vehicleModel">Vehicle Model</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="vehicleModel" 
                  name="vehicleModel"
                  placeholder="Vehicle Model">
                  </input>
                </div>

              </form>
            </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-block" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addpedmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Ped Information to SALES</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post">

              <div class = "person-group">
                <label for="firstName">First Name</label>
                <input 
                type="text" 
                class="form-control" 
                id="firstName" 
                name="firstName" 
                placeholder="Subject First Name">
                </input>
              </div>

              <br>

              <div class = "person-group">
                <label for="lastName">Last Name</label>
                <input 
                type="text" 
                class="form-control" 
                id="lastName" 
                name="lastName" 
                placeholder="Subject Last Name">
                </input>
              </div>

              <br>

              <div class = "person-group">
                <label for="DOB">Date of Birth</label>
                <input 
                type="text" 
                class="form-control" 
                id="DOB" 
                name="DOB" 
                placeholder="Date of Birth">
                </input>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-block" data-dismiss="modal">Submit</button>
          </div>
        </div>
      </div>
    </div>











{% endblock %}